---
import { useEffect } from 'astro/client';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test 2</title>
  </head>
  <body>
    <div id="calculator" class="flex flex-col items-center">
      <input id="display" readonly class="w-50 h-20 mt-2 mb-8" />
      <div id="keys">
        <button id="plus">+</button>
        <button id="seven">7</button>
        <button id="eight">8</button>
        <button id="nine">9</button>
        <button id="minus">-</button>
        <button id="four">4</button>
        <button id="five">5</button>
        <button id="six">6</button>
        <button id="multiply">*</button>
        <button id="one">1</button>
        <button id="two">2</button>
        <button id="three">3</button>
        <button id="divide">/</button>
        <button id="zero">0</button>
        <button id="dot">.</button>
        <button id="equals">=</button>
        <button id="clear">C</button>
      </div>
    </div>

    <script is:inline>
      if (typeof document !== 'undefined') {
        console.log(document.title);
        const display = document.getElementById('display');

        function appendToDisplay(value) {
          display.value += value;
        }

        function calculate() {
          try {
            display.value = eval(display.value);
          } catch {
            display.value = 'Error';
          }
        }

        function clearDisplay() {
          display.value = '';
        }

        document.getElementById('plus').onclick = () => appendToDisplay('+');
        document.getElementById('seven').onclick = () => appendToDisplay('7');
        document.getElementById('eight').onclick = () => appendToDisplay('8');
        document.getElementById('nine').onclick = () => appendToDisplay('9');
        document.getElementById('minus').onclick = () => appendToDisplay('-');
        document.getElementById('four').onclick = () => appendToDisplay('4');
        document.getElementById('five').onclick = () => appendToDisplay('5');
        document.getElementById('six').onclick = () => appendToDisplay('6');
        document.getElementById('multiply').onclick = () => appendToDisplay('*');
        document.getElementById('one').onclick = () => appendToDisplay('1');
        document.getElementById('two').onclick = () => appendToDisplay('2');
        document.getElementById('three').onclick = () => appendToDisplay('3');
        document.getElementById('divide').onclick = () => appendToDisplay('/');
        document.getElementById('zero').onclick = () => appendToDisplay('0');
        document.getElementById('dot').onclick = () => appendToDisplay('.');
        document.getElementById('equals').onclick = () => calculate();
        document.getElementById('clear').onclick = () => clearDisplay();
      }
      
    </script>
  </body>
</html>
